################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/bin/Debug
/.vs
/Services/bin/Debug/netcoreapp3.1
/Services/obj
/Web/obj
/WebApp/bin/Debug/netcoreapp3.1
/WebApp/obj
